*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'forma-djr-display', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: default;
}

:root{
    --eurekaBlue: #0cb0ae;
    --eurekaGreen: #25b816;
    --eurekaWhite: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.colorOverlay{
    width: 1px;
    height: 1px;
    border-radius: 100%;
    transition-duration: 0.5s;
    top: 50%;
    right: 0;
    position: fixed;
    background-color: black;
    opacity: 0.3;
    transform-origin: center;
    scale: 3;
    box-shadow: 0 0 50px black;
}

.navbar {
    width: 40%;
    height: 75px;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction:column;
    display: flex;
    top: 1%;
    z-index: 1;
    transition: 0.4s;
}

.navbar nav{
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    width: 100%;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(3px);
}

.navbar nav:hover{
    backdrop-filter: blur(6px);
}
.navbar nav .logo{
    width: 70px;
    transition: 0.4s;
    position: relative;
}

.navbar nav .logo:hover{
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.navText{
    font-size: 20px;
}

#aboutUsLink{
    color: var(--eurekaBlue)
}

#bookNowLink{
    color: var(--eurekaWhite)
}

.bookNowNavBox{
    background-color: var(--eurekaBlue);
    padding: 10px;
    color: var(--eurekaWhite);
    border-radius: 5px;
}

.navToggle{
    width: 10%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px 5px 0px 0px;
    height: 15px;
    backdrop-filter: blur(3px);
    overflow: clip;
    transition-duration: 0.4s;
}

.toggleContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleArrow{
    height: 50%;
    width: 50%;
    opacity: 0.7;
    transition-duration: 0.4s;
    scale: 1 1;
}

.toggleArrow:hover{
    scale: 1.2 1.2;
    transform: translateY(-1px);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2))
}

.toggleText{
    color: var(--eurekaBlue);
    font-size: 7px;
    pointer-events: inherit;
}

.topNavigation{
    transition-duration: 0.4s;
    transform-origin: top;
}

.sideNavigation{
    width: auto;
    height: 25%;
    position: fixed;
    right: 0;
    top: 37.5%;
    display: flex;
    justify-content: end;
    align-items: center;
    transform-origin: right;
    transition-duration: 0.4s;
    z-index: 1;
}

.sideNavbar{
    width: 10px;
    height: 250px;
    border-radius: 30px 0 0 30px;
    background-color: var(--eurekaWhite);
    overflow: clip;
    transition-duration: 0.4s;
}

/* .sideNavbar:hover{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    scale: 2 2;
} */

.currentSection{
    width: 100%;
    height: 25%;
    background-color: var(--eurekaGreen);
    transition-duration: 0.4s;
}

.sectionTitlesContainer{
    width: auto;
    height: 100%;
    position: relative;
    padding-right: 10px;
}

.sectionTitleBox{
    transition-duration: 0.4s;
    height: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 0;
}

.sectionTitle{
    transition-duration: 0.4s;
    color: var(--eurekaWhite);
    transform-origin: right;
}

/* Landing Section */

.landingSection{
    width: 100vw;
    height: 105vh;
    background-image: url(image-assets/example.png);
    background-size: cover;
}

/* About Us Section */
.aboutUsSection{
    width: 100vw;
    height: 105vh;
    background-image: url(image-assets/coolvalley.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(3px);
}

/* Locations Section */

.locationsSection{
    width: 100vw;
    height: 105vh;
    background-image: url(image-assets/litMountain.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationsText{
    font-size: 30px;
    color: white;
}

/* Locations Section */

.ppSection{
    width: 100vw;
    height: 105vh;
    background-image: url(image-assets/litMountain.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


